@font-face {
    font-family: gillSansFont;
    src: url(../fonts/GillSans.ttc);
  }

  @font-face {
    font-family: ptSerif_Regular;
    src: url(../fonts/PTSerif-Regular.ttf);
  }

  @font-face {
    font-family: ptSerif_Italic;
    src: url(../fonts/PTSerif-Italic.ttf);
  }

  @font-face {
    font-family: ptSerif_Bold;
    src: url(../fonts/PTSerif-Bold.ttf);
  }

  @font-face {
    font-family: ptSerif_BoldItalic;
    src: url(../fonts/PTSerif-BoldItalic.ttf);
  }