#gallery_hero
{
    width: 980px;
    height: 379px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 48px;
    //padding-top: 86px;

    h1
    {
        //background-color: aqua;
        width: 227px;
        height: 399px;
        font-size: 300px;
        padding-top: 9%;
        margin-left: 0px;
    }

    h2
    {
        //background-color: aqua;
        width: 800px;
        height: 186px;
        font-size: 140px;
        padding-top: 24%;
        margin-left: 0px;
    }
}

#gallery
{
    //height: 1160px;
    padding-bottom: 100px;
    margin-top: 60px;
    width: 100%;
    max-width: 980px;
    //background-color: red;

    h1
    {
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 2px;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .gallery_line
    {
        height: 2px;
        width: 229px;
        background-color: black;
        position: absolute;
        top: 202px;
        margin-left: 0px;
        //top: 600px;
        //left: 6%;
        //right: 100%;
        //margin: auto;
    }
}

#gallery_box_top
{
    margin: 0 auto;
    width: 980px;
    height: 187px;
    display: flex;
    padding-bottom: 19px;
    //background-color: aqua;

        #food
        {
            width: 490px;
            height: 187px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            //position: absolute;
            //padding-top: 86px;
        }

        #deej
        {
            width: 187px;
            height: 187px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            //position: absolute;
            //padding-top: 86px;
        }

        #talk
        {
            width: 265px;
            height: 187px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            //position: absolute;
            //padding-top: 86px;
        }
}

#gallery_box_bottom
    {
        margin: 0 auto;
        width: 980px;
        height: 306px;
        display: flex;
        //background-color: aqua;

        #open
        {
            width: 603px;
            height: 306px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            //position: absolute;
            //padding-top: 86px;
        }

        #tour
        {
            width: 355px;
            height: 306px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            //position: absolute;
            //padding-top: 86px;
        }
    }

#gallery_p
{
    width: 980px;
    height: 96px;
    padding-top: 55px;
    padding-bottom: 95px;
    //background-color: aquamarine;
    line-height: 22px;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 16px;
    color: #000000;
}